<!--
    things to change to make this valid partial
        -action
        -hidden input patch
        -prefilled valuess
        -submit button
 -->

 <% action = (cat.persisted? ? cat_url(cat) : cats_url) %>
 <% method = (cat.persisted? ? :patch : :post) %>  
    
<form action="<%= action %>" method="post">
    <% if action == :edit %>
        <input type="hidden" name="_method" value="<%= method %>">
    <% end %>  
<br>

    
    <label for="cat_name">Name</label>
    <input 
        type="text" 
        name="cat[name]" 
        id="cat_name"
        value="<%= @cat.name %>">
    <br>

     <label for="cat_birth_date">Paw Out Birthdate:</label>
        <input 
            type="date" 
            name="cat[birth_date]" 
            id="cat_birth_date"
            value="<%= @cat.birth_date %>">
    <br>

    <label for="cat_color">Paw Out Color!</label>
        <select name="cat[color]" id="cat_color">
        <option disabled>^_^ChooseColor^_^</option>
            <option value="snowy" <%= @cat.color == "snowy" ? "selected" : "" %>>Snowy</option> 
            <option value="coal" <%= @cat.color == "coal" ? "selected" : "" %>>Coal</option>
            <option value="silver" <%= @cat.color == "silver" ? "selected" : "" %>>Silver</option>
            <option value="maroon" <%= @cat.color == "maroon" ? "selected" : "" %>>Maroon</option>
        </select>
    <br>

  

    <input 
        type="radio" 
        name="cat[sex]"
        value="M"
        id="cat_sex_male"
        <%= @cat.sex == "M" ? "checked" : "" %>>
    <label for="cat_sex_male">Male</label>
    <input 
        type="radio" 
        name="cat[sex]"
        value="F"
        id="cat_sex_female"
        <%= @cat.sex == "F" ? "checked" : "" %>>
      <label for="cat_sex_female">Female</label>
    <br>


    <label>Description:
        <textarea name="cat[description]"><%= @cat.description %></textarea>
    </label>

    <input type="submit" value="<%= action == :edit ? 'update cat' : 'add cat'%>">
</form>
