<h1>Wanna meet my cat?</h1>



<h3>Name: <%=@cat.name%> </h3>
<h3>Color: <%=@cat.color%> </h3>
<h3>Sex: <%=@cat.sex%> </h3>
<h3>Birthdate: <%=@cat.birth_date%> </h3>

<p>
    <%= @cat.description%>
</p>